@model IEnumerable<TechnologyComplex.Models.Motor>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta charset="utf-8">
    <title>Main</title>
    <style>
        div {
            border-radius: 5px;
        }

        .p {
            display: table-cell;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }
    </style>
</head>
<body>
    <div style="width: 100px;height: 100px; position: relative;top: 10px;left: 0px">
        @using (Html.BeginForm("Motor_Working_Hours_For_Date", "Home"))
    {
        <p class="floated">Выбрать дату: <input type="text" class="" id="datepicker" name="date" autocomplete="off"></p>
        <input type="submit" />

}
    </div>
    <div id="barchart" style="width: 600px;height: 500px; position: relative;top: 120px;left: 0px">
    
    </div>
    @{
        int KvadrablockHoursForDay = 0;
        if (Model.Count() != 0)
        {
            KvadrablockHoursForDay = (Convert.ToInt32(Model.Last().Value.ToString()) - Convert.ToInt32(Model.First().Value.ToString()));
        }

    }

    <script>
    jQuery(function ($) {

            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

        });
    </script>

    <script>

//*** Create the Bar chart ***\\

Highcharts.chart('barchart', {
  chart: {
    type: 'column'
  },
  title: {
        text: ''
  },
  subtitle: {
    text: ''
  },
  xAxis: {
      type: 'category',
      title: {
          text: ''
      }
  },
  yAxis: {
    title: {
      text: 'Кол-во часов'
    }

  },
  legend: {
    enabled: false
  },
  plotOptions: {
    series: {
      borderWidth: 0,
      dataLabels: {
        enabled: true,
        format: '{point.y:.1f}'
      }
    }
  },

  tooltip: {
    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br />'
  },

  "series": [
    {
      "name": "Objects",
      "colorByPoint": true,
      "data": [

        {
          "name": "Квадраблок",
          "y": @KvadrablockHoursForDay

        }

      ]
    }
    ],
    navigation: {
        buttonOptions: {
            enabled: false
        }
    }
});
    </script>

</body>
</html>


