@model IEnumerable<TechnologyComplex.Models.Facility>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <style>
        div {
            border-radius: 5px;
        }
        input {
            border-radius: 5px;
            outline: none;
            border: none;
        }
        .p {
            display: table-cell;
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }
    </style>
</head>
@{
    int h = 230;
    int w = 295;
    int t = 0;
    int l = 0;
    int t_setpoint = 240;
    int l_setpoint = 310;
    int columns = 4;
    int number_of_column = 0;

}
<body>
    <div style="margin:10px auto; width: 1400px;height: 800px;position: relative;">
        @{
            foreach (var facility in Model)
            {
                number_of_column++;

                if (number_of_column == (columns + 1))
                {
                    t += t_setpoint;
                    l = 0;
                    number_of_column = 1;
                }
                string height = h.ToString() + "px";
                string width = w.ToString() + "px";
                string top = t.ToString() + "px";
                string left = l.ToString() + "px";
            <div style="display:table;width: @width;height: @height; position: absolute;top: @top; left: @left">


                    @using (Html.BeginForm("Work_Flow", "Home", FormMethod.Post))
                     {
                <input type="hidden" value="@facility.Id" name="Id" />
                <input class="p" value="@facility.Name" type="submit" style="background:#e3dede; position: absolute ;width: @width;height: @height; top: 0px; left: 0px" />
                     }

            </div>
                l += l_setpoint;

            }
        }

    </div>



</body>
</html>

