@model IEnumerable<TechnologyComplex.Models.Area>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <style>
        div {
            border-radius: 5px;
        }

        .p {
            display: table-cell;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }
    </style>
</head>
<body>
    <div style="margin:10px auto; width: 600px;height: 450px;position: relative;">
        <div style= "display:table;background:#e3dede;margin: auto;width: 600px;height: 230px; position: absolute;">
            <p class="p" style="font-size:xx-large">Filling Processing</p>
            <div style="position: absolute; bottom:0px;left:5px">
                <p><a class="btn btn-lg btn-success" href="#" role="button">Go to next page </a></p>
            </div>
        </div>
        <div style="display:table;background:#ffc9c9;width: 295px;height: 200px; position: absolute;bottom:0px;right:0px">
            <p class="p">Adult Processing</p>
            <div style="position: absolute; bottom:0px;left:5px">
                <p><a class="btn btn-lg btn-success" href="#" role="button">Go to next page</a></p>
            </div>
        </div>
        <div style="display:table;background:#c1c0fa;width: 295px;height: 200px; position: absolute;bottom:0px;left:0px">
            <p class="p">Child Processing</p>
            <div style="position: absolute; bottom:0px;left:5px">
                <p><a class="btn btn-lg btn-success" href="#" role="button">Go to next page</a></p>
            </div>
        </div>
    </div>


</body>
</html>


<table class="table">
    <tr><td>Id</td><td>Nmae</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.Name</td></tr>
    }
</table>